<head>
	<link href="css/findTrainingCentre.css" type="text/css" rel="stylesheet">
</head>



	
   <div class="row1">
      <div class="col-md-5" id="formBox" style="margin-left:3%">
         <div class="col-md-12">
            <div class="formBoxHeader">
               <h1>Find a training center</h1>
            </div>
            <form action="">
               <div class="form-group">
                  STATE: <br>
                  <select class="form-control" id="state" ng-model="find.state" required>
                   <option value="" disabled selected>Choose State</option>
                   <option ng-repeat="x in findState" value="{{x.state}}">{{x.state}}</option>
                  </select>
                  <br>
                  
                  DISTRICT: <br>
                  <select class="form-control" id="state" ng-model="find.district" required>
                   <option value="" disabled selected>Choose District</option>
                   <option ng-repeat="x in findDistrict" value="{{x.district}}">{{x.distict}}</option>
                  </select>
                  <br>
                  
                  INSTITUTION TYPE: <br>
                  <select class="form-control" id="state" ng-model="find.state" required>
                   <option value="" disabled selected>Choose Institute Type</option>
                   <option ng-repeat="x in findInstituteType" value="{{x.instituteType}}">{{x.instituteType}}</option>
                  </select>
                  <br>
                  SECTOR: <br>
                  <select class="form-control" id="state" ng-model="find.state" required>
                   <option value="" disabled selected>Choose Sector</option>
                   <option ng-repeat="x in findSector" value="{{x.Sector}}">{{x.Sector}}</option>
                  </select>
                  <br>
                  
    
                  <input type="submit" value="FIND CENTERS"><br>
               </div>
            </form>
         </div>
      </div>
      <div ng-controller="findTCController">
         <div class="col-md-6" >
            <div class="col-md-12">
               <div class="table">
                  <div ui-grid="details"  class="grid grid-align " ui-grid-auto-resize></div>
               </div>
            </div>
         </div>
      </div>
   </div>
