<head>
	<link href="css/findTrainingCentre.css" type="text/css" rel="stylesheet">
</head>

<div ng-controller="findTCController">

	<div class="fluid-container">
   <div class="row">
      <div class="col-md-6" id="formBox">
         <div class="col-md-12">
            <div class="formBoxHeader">
               <h1>Find a training center</h1>
            </div>
            <form action="">
               <div class="form-group">
                  STATE: <br>
                  <select name="STATE" id="" class="form-control">
                     <br>
                     <option value=""></option>
                     <br>
                     <option value=""></option>
                     <br>
                     <option value="mp"></option>
                     <br>
                  </select>
                  <br>
                  DISTRICT: <br>
                  <select name="DISTRICT" id="" class="form-control">
                     <br>
                     <option value=""></option>
                     <br>
                     <option value=""></option>
                     <br>
                     <option value=""></option>
                     <br>
                  </select>
                  <br>
                  INSTITUTION TYPE: <br>
                  <div class="row-md-12">
                     <select name="INSTITUTION TYPE" id="" class="form-control">
                        <br>
                        <option value=""></option>
                        <br>
                        <option value=""></option>
                        <br>
                        <option value=""></option>
                        <br>
                     </select>
                  </div>
                  <br>
                  SECTOR: <br>
                  <select name="SECTOR" id="" class="form-control">
                     <br>
                     <option value=""></option>
                     <br>
                     <option value=""></option>
                     <br>
                     <option value=""></option>
                     <br>
                  </select>
                  <br>
                  <input type="submit" value="FIND CENTERS"><br>
               </div>
            </form>
         </div>
      </div>
      <div ng-controller="myController">
         <div class="col-md-6" >
            <div class="col-md-12">
               <div class="table">
                  <div ui-grid="details"  class="grid grid-align " ui-grid-auto-resize></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
	
</div>