<head>
       <link href="css/helpline.css" type="text/css" rel="stylesheet">
</head>

<div ng-controller="helplineController">

       <div class="container-fluid">
       
              <div class="row row1">
              <div class="col-md-6">
         
        

                                  <div class="helpline row">
                                         <img src="images/helpline.png" style="padding: 7%;width: 98%">
                                 </div> 
         
                     </div>
                     <div class="col-md-6" style="padding-left: -20%;padding-top: 12%;margin-left: -11%;margin-top: 2%;">
                            <div class="bb1 row">
                            
                           <div class="locate row" style="margin-left:-17%"><h3 style="color:#2a64a0; font-size:5rem;">Locate Us</h3></div>
                           
                                         <aside id="text-2" class="widget widget_text row">
                                                <div class="textwidget"><h4>3rd Floor, CBIP Building, Malcha Marg,</br> Chanakyapuri, New Delhi - 110021</br>   Phone: 011-41792866</br>   Email: <a href="mailto:info@sscgj.in">info@sscgj.in</a> </h4></h4></div>
                                         </aside>
                                         
                     <div class="fbar row">
                                  <ul>
                                         <li><a href="https://www.linkedin.com/company/skill-council-for-green-jobs" class="sc2" target="_blank"></a></li>
                                         <li><a href="https://twitter.com/settings/account" class="sc3" target="_blank"></a></li>
                                         <li><a href="https://www.facebook.com/Skillcouncilforgreenjobs" class="sc4" target="_blank"></a></li>
                                  </ul>
                       </div>
                           
                            </div>
       
                           </div>
                     </div>
                           
                        
             
                     
                            
                            </div>
       
                           </div>
                           
       
  
