<head>
	<link href="css/helpline.css" type="text/css" rel="stylesheet">
</head>

<div ng-controller="helplineController">

	<div class="container-fluid">
  
  <div class="row">
    <div class="col-md-5">
	 
	  <div class="row1">
	  
	  </div>
	  <div class="row2">
	  <img src="images/helpline.png">
	  </div>
	  
	</div>
	<div class="col-md-7">
	  <div class="row3">
	  <h6 id="t1"> CANDIDATES </h6>
	  <p id="t2">91-88000-55555 <br> Monday-Saturday 9AM TO 6PM </p>
	  
	  
	  </div>
	  
	  <div class="row4">
	  <h6 id="t1"> TRAINING PARTNERS </h6>
	  <p id="t2">+91-928900333 <br> Monday-Saturday 9AM TO 6PM </p>
	  
	  
	  </div>
	   <div class="row5">
	  <h6 id="t1"> AEBAS </h6>
	  <p id="t2">011-46451615<br> (Monday-Saturday 9AM TO 6PM) </p>
	  
	  
	  </div>
	  <div class="row6">
	  <h6 id="t1"> SMART </h6>
	  <p id="t2">1800-123-9626 <br> Monday-Saturday 9AM TO 6PM </p>
	  
	  
	  </div>
	  <div class="row7">
	  <h6 id="t1"> SDMS </h6>
	  <p id="t2">011-47451600 <br> Monday-Saturday 9AM TO 6PM </p>
	  
	  
	  </div>
	    <div class="row8">
	  <h6 id="t1"> PLACEMENT ASSISSTANCE </h6>
	  <p id="t2">+91-88000-55555 <br> Monday-Saturday 9AM TO 6PM </p>
	  
	  
	  </div>
	  
	  
	  

	  
	
	</div>
  </div> 	
  
</div>
	
</div>