<head>
	<link href="css/helpline.css" type="text/css" rel="stylesheet">
</head>

<div ng-controller="helplineController">

	<div class="container-fluid">
	
  		<div class="row row1">
    		<div class="col-md-6">
	  
	 

	   				<div class="helpline row">
	  					<img src="images/helpline.png" style="padding: 7%;width: 98%">
	 				</div> 
	  
			</div>
			 <div class="col-md-6" style="padding-left: 25%;padding-top: 7%;">
	  			<div class="bb1 row">
	  			
     				<div class="locate row"><h3 style="color:#2a64a0">Locate Us</h3></div>
     				
						<aside id="text-2" class="widget widget_text row">
							<div class="textwidget">3rd Floor, CBIP Building, Malcha Marg,</br> Chanakyapuri, New Delhi - 110021</br>   Phone: 011-41792866</br>   Email: <a href="mailto:info@sscgj.in">info@sscgj.in</a> </div>
						</aside>
						
		       <div class="fbar row">
					<ul>
						<li><a href="https://www.linkedin.com/company/skill-council-for-green-jobs" class="sc2" target="_blank"></a></li>
						<li><a href="https://twitter.com/settings/account" class="sc3" target="_blank"></a></li>
						<li><a href="https://www.facebook.com/Skillcouncilforgreenjobs" class="sc4" target="_blank"></a></li>
					</ul>
			  </div>
	 			
	 			</div>
	
   				</div>
			</div>
				<div class="col-md-12 row2" style="padding:2%;position:absolute">
				
	  				<div class="bb2">
				  		<iframe class="bdyimg" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3502.9325511000593!2d77.18473931417913!3d28.60180019222397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s3rd+Floor%2C+CBIP+Building%2C+Malcha+Marg%2C+Chanakyapuri!5e0!3m2!1sen!2sin!4v1464690941821" width="600" height="144" frameborder="0" allowfullscreen="">
				  		</iframe>
	  				</div>		
	  		   </div>
	  		   
	      
	  		
	 			
	 			</div>
	
   				</div>
  	
  
	
	
