
<head>
   
    <link type="text/css" href="../css/jobRoles.css" rel="stylesheet">
   

</head>

<body ng-app="">
  <div class="container-fluid" ng-controller="jobRolesController">
        <br>
      <div id="letters">
           <div class="panel panel-default">
              <div class="panel-body"></div>
                 <ul class="list-inline">
       
			<li><a ng-click="x='A'; search(x)">A</a></li>
			<li><a ng-click="x='B'; search(x)">B</a></li>
			<li><a ng-click="x='C'; search(x)">C</a></li>
			<li><a ng-click="x='D'; search(x)">D</a></li>
			<li><a ng-click="x='E'; search(x)">E</a></li>
			<li><a ng-click="x='F'; search(x)">F</a></li>
			<li><a ng-click="x='G'; search(x)">G</a></li>
			<li><a ng-click="x='H'; search(x)">H</a></li>
			<li><a ng-click="x='I'; search(x)">I</a></li>
			<li><a ng-click="x='J'; search(x)">J</a></li>
			<li><a ng-click="x='K'; search(x)">K</a></li>
			<li><a ng-click="x='L'; search(x)">L</a></li>
			<li><a ng-click="x='M'; search(x)">M</a></li>
			<li><a ng-click="x='N'; search(x)">N</a></li>
			<li><a ng-click="x='O'; search(x)">O</a></li>
			<li><a ng-click="x='P'; search(x)">P</a></li>
			<li><a ng-click="x='Q'; search(x)">Q</a></li>
			<li><a ng-click="x='R'; search(x)">R</a></li>
			<li><a ng-click="x='S'; search(x)">S</a></li>
			<li><a ng-click="x='T'; search(x)">T</a></li>
			<li><a ng-click="x='U'; search(x)">U</a></li>
			<li><a ng-click="x='V'; search(x)">V</a></li>
			<li><a ng-click="x='W'; search(x)">W</a></li>
			<li><a ng-click="x='X'; search(x)">X</a></li>
			<li><a ng-click="x='Y'; search(x)">Y</a></li>
			<li><a ng-click="x='Z'; search(x)">Z</a></li>					
					
	         </ul>
           </div>
    </div>
       
        
<div class="training material">
       <form class="form-horizontal" ng-submit="submit" role="form" name="training" novalidate>
        <div class="form-group" ng-class="{'has-error': training.search.$touched && training.search.$error.required , 'has-success': studentForm.search.$valid }">
            <label for="search"></label>
            <div class="col-md-6" id="searchbox">
                <input type="text"  placeholder="Please enter a job role for search"  name="search" class="form-control" ng-model="searchBox" required />
            </div>
            
             <div class="col-md-2">  <input type="submit"  value="search" class="btn btn-primary col-sm-offset-3" /></div>

        </div>
        <div class="col-md-3">
                <span class="help-block" ng-show="training.search.$touched && training.search.$error.required">
                <center><p style="color: red;"> Please enter a job role </p>
                </center></span>
        </div>
       
       </form>
</div>
    
         <div class="table">
   
    <div ui-grid="gridJobsRoles" ui-if="gridJobsRoles.data.length>0" class="grid grid-align" id="grid" ui-grid-auto-resize ng-style="getTableHeight()"></div> 
    </div>
	
	
    
</div>

 