<head>
	<link href="css/quickFacts.css" type="text/css" rel="stylesheet">
</head>

<div ng-controller="quickFactsController">

	 <div class="container-fluid dashborad-container">
        <div class="dashborad-panelWrap">
            <h3 class="text">Overall Information</h3>

            <div class="upper-panel">
                <div class="dashboard-col-sm-2">
                    <div class="dashboard-panel">
                        <div class="dashboard-panel-body" style="background-color:#F6AB3D;">
                            <div class="annualTarget">
                            <b>15</b>

                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#E18806;">INDUSTRY PARTNERSHIP</div>
                    </div>
                </div>

                <div class="dashboard-col-sm-2">
                    <div class="panel panel-default">
                        <div class="dashboard-panel-body" style="background-color:#A3C3E7;">
                            <div class="totalCandidatesTrained">
                           <b>1600000</b> 
                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#7BA9DC;">CSR FUNDS</div>
                    </div>
                </div>
					
                <div class="dashboard-col-sm-2">
                    <div class="panel panel-default">
                        <div class="dashboard-panel-body" style="background-color:#c68d7f;">
                            <div class="totalCandidatesCertified">
                                <b>4230</b>
                               
                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#A07266;">CANDIDATES CERTIFIED</div>
                    </div>
                </div>

                <div class="dashboard-col-sm-2">
                    <div class="panel panel-default">
                        <div class="dashboard-panel-body" style="background-color:#57C5D9;">
                            <div class="totalTrainingCenters" class="TotalTC">
                               
                                <b>6 </b> 
                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#2DABC1;">JOB ROLES</div>
                    </div>
                </div>


                <div class="dashboard-col-sm-2">
                    <div class="panel panel-default">
                        <div class="dashboard-panel-body" style="background-color:#BCD43A;">
                            <div class="annualTarget">
                                <b>25</b>

                            </div>
                        </div>
                        <div class="dashboard-panel-footer" style="background-color:#A6C118;">TRAINING PARTNERS</div>
                    </div>
                </div>
            </div>
        
     

</div>

    <div class="row">
        <div class="col-md-12">
			<div class="col-md-6">
            <div class="form-group" id="t1">

                  <select ng-model="myVar" ng-change="firstFunc()">
	        <option value="1">placement of top 5 TP</option>
	  <option value="2">maximum csr contributor</option>
	</select>
            </div>
			</div>
			<div class="col-md-6">
            <div ng-switch="myVar">
	    <div ng-switch-when="1">
	        <div id="container"></div>
	        <hc-generic-chart options='chartOptions'></hc-generic-chart>
	    </div>
	    <div ng-switch-when="2">
	        <hc-chart id="charts" data="pieData"></hc-chart>
	    </div>
		</div>
	</div>

        </div>
		</div>
	</div>
          