<head>
	<link href="css/quickFacts.css" type="text/css" rel="stylesheet">
</head>

<div ng-controller="quickFactsController">

	<!-- Write your code here -->
	<div class="container-fluid" >
        <H4 class="heading">Overall Training Information</H4>
        <div class="">
            <div class="row" style="">
				<div class="col-md-1"></div>
                <div class="col-md-2 first-point" style="">
                    <div class="panel-group">
                        <div class="panel panel-default">

                            <div class="panel-heading first" style="background-color:#F6AB3D;color:white">
                                <div>15</div>
                            </div>
                            <div class="panel-body" style="background-color:#E18806;color:white;padding:0%">
                                <div>INDUSTRY PARTNERSHIP</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 second-point" style="">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color:#A3C3E7;color:white">
                                <div>160000</div>
                            </div>
                            <div class="panel-body" style="background-color:#9999FF;color:white;padding:0%">
                                <div>CSR FUNDS</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 third-point" style="">
                    <div class="panel-group">
                        <div class="panel panel-default">

                            <div class="panel-heading" style="background-color:#C6807F;color:white">
                                <div>4230</div>
                            </div>
                            <div class="panel-body" style="background-color:#A07266;color:white;padding:0%">
                                <div>CANDIDATE CERTIFIED</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 fourth-point" style="">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color:#57C5D9;color:white">
                                <div>6</div>
                            </div>
                            <div class="panel-body" style="background-color:#2DABC1;color:white;padding:0%">
                                <div>JOB ROLES</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 fifth-point" style="">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color:#BCD43A;color:white">
                                <div>25</div>
                            </div>
                            <div class="panel-body" style="background-color:#A6C118;color:white;padding:0%">
                                <div>TRAINING PARTNERSHIP</div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="col-md-1"></div>
            </div>
        </div>
    
    <div class="row" style="margin-right:25rem">
        <div class="col-md-12">
			<div class="col-md-6">
            <div class="form-group" id="t1">

                  <select ng-model="myVar" ng-change="firstFunc()">
	        <option value="1">placement of top 5 TP</option>
	  <option value="2">maximum csr contributor</option>
	</select>
            </div>
			</div>
			<div class="col-md-6">
			<div ng-switch="myVar">
	    <div ng-switch-when="1">
	        <div id="container"></div>
	           <hc-generic-chart options='chartOptions'></hc-generic-chart>
	    </div>
	    <div ng-switch-when="2">
	        <hc-chart id="charts" data="pieData"></hc-chart>
	    </div>
		</div>
	</div>
	</div>
	</div>
</div>
        </div>
		</div>
		</div>
	        <script src="js/controllers/quickFacts.js" type="text/javascript"></script>
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>

 
	
</div>