<head>
<link type="text/css" href="css/sector.css" rel="stylesheet"/>
</head>

<div class="container-fluid">
      <div class="row ">
        <div class="col-md-6">
          <h3 id="shift">Different Domains And Sector Skill Councils
          </h3>
        </div>
      </div>
      <div class="col-md-6">
        <p id="colortext">Select the relevant sector skill council
        </p>
        <select class="form-control " ng-model="myVar"  >
          <option value="1">FURNITURE & FITTING SKILL COUNCIL
          </option>
          <option value="2">TOURISM & HOSPITALITY SECTOR SKILL COUNCIL
          </option>
          <option value="3">BEAUTY & WELLNESS SECTOR SKILL COUNCIL
          </option>
          <option value="4">SKILL COUNCIL FOR GREEN JOBS
          </option>
          <option value="5">APPAREL MADE-UPS & HOME FURNISHING SECTOR SKILL COUNCIL
          </option>
          <option value="6">TEXTILE & HANDLOOM SECTOR
          </option>
          <option value="7">LIFE SCIENCES SECTOR SKILL COUNCIL
          </option>
          <option value="8">CONSTRUCTION SKILL DEVELOPMENT COUNCIL OF INDIA
          </option>
          <option value="9">CAPITAL GOODS SKILL COUNCIL
          </option>
          <option value="10">LOGISTICS SECTOR SKILL COUNCIL
          </option>
          <option value="11">FOOD INDUSTRY CAPACITY & SKILL INITIATIVE
          </option>
          <option value="12">LEATHER SECTOR SKILL COUNCIL
          </option>
          <option value="13">BFSI SECTOR SKILL COUNCIL OF INDIA
          </option>
          <option value="14">TELECOM SECTOR SKILL COUNCIL
          </option>
          <option value="15">AGRICULTURE SKILL COUNCIL OF INDIA
          </option>
          <option value="16">ELECTRONICS SECTOR SKILL COUNCIL
          </option>
          <option value="17">GEMS AND JWELLERY SKILL COUNCIL OF INDIA
          </option>
          <option value="18">HEALTH CARE SECTOR SKILL COUNCIL
          </option>
          <option value="19">RUBBER SKILL DEVELOPMENT COUNCIL
          </option>
          <option value="20">MEDIA AND ENTERTAINMENT SKILL COUNCIL
          </option>
          <option value="21">IT-ITeS SECTOR SKILL COUNCIL
          </option>
          <option value="22">RETAILERS ASSOCIATION's SKILL COUNCIL OF INDIA
          </option>
          <option value="23">SECURITY SECTOR SKILL DEVELOPMENT COUNCIL
          </option>
          <option value="24">AUTOMOTIVE SKILLS DEVELOPMENT COUNCIL
          </option>
          <option value="25">AEROSPACE & AVIATION SECTOR SKILL COUNCIL
          </option>
          <option value="26">POWER SECTOR SKILL COUNCIL
          </option>
          <option value="27">SKILL COUNCIL FOR MINING SECTOR
          </option>
          <option value="28">PAINT & COATING SKILL COUNCIL
          </option>
        </select>
      </div>
      <div  ng-switch="myVar" >
        <div ng-switch-when="1">
          <p id="para">FURNITURE & FITTING SKILL COUNCIL
          </p>
          <a class="hyperlink" href="http://www.ffsc.in/" >Click Here For Information
          </a>
          <img src="IMAGES/FFSC.png" id="image1">
        </div>
        <div ng-switch-when="2">
          <p id="para">TOURISM & HOSPITALITY SECTOR SKILL COUNCIL
          </p>
          <a class="hyperlink" href="https://www.thsc.in/">Click Here For Information
          </a>
          <img src="IMAGES/THSC.png" id="image2">
        </div>
        <div ng-switch-when="3">
          <p id="para">BEAUTY & WELLNESS SECTOR SKILL COUNCIL
          </p>
          <a class="hyperlink" href="http://www.bwssc.in/">Click Here For Information
          </a>
          <img src="IMAGES/BWSSC.png" id="image3">
        </div>
        <div ng-switch-when="4">
          <p id="para">SKILL COUNCIL FOR GREEN JOBS
          </p>
          <a class="hyperlink" href="http://sscgj.in/">Click Here For Information
          </a>
          <img src="IMAGES/SCGJ.png" id="image4">
        </div>
        <div ng-switch-when="5">
          <p id="para">APPAREL MADE-UPS & HOME FURNISHING SECTOR SKILL COUNCIL
          </p>
          <a class="hyperlink" href="http://sscamh.com/">Click Here For Information
          </a>
          <img src="IMAGES/AMHSSC.png" id="image5">
        </div>
        <div ng-switch-when="6">
          <p id="para">TEXTILE & HANDLOOM SECTOR
          </p>
          <a class="hyperlink" href="http://texskill.in/">Click Here For Information
          </a>
          <img src="IMAGES/TSC.png" id="image6">
        </div>
        <div ng-switch-when="7">
          <p id="para">LIFE SCIENCES SECTOR SKILL COUNCIL
          </p>
          <a class="hyperlink" href="http://lsssdc.in/">Click Here For Information
          </a>
          <img src="IMAGES/LSSSDC.png" id="image7">
        </div>
        <div ng-switch-when="8">
          <p id="para">CONSTRUCTION SKILL DEVELOPMENT COUNCIL OF INDIA
          </p>
          <a class="hyperlink" href="http://www.csdcindia.org/">Click Here For Information
          </a>
          <img src="IMAGES/CSDCI.png" id="image8">
        </div>
        <div ng-switch-when="9">
          <p id="para">CAPITAL GOODS SKILL COUNCIL
          </p>
          <a class="hyperlink" href="http://www.cgsc.in/">Click Here For Information
          </a>
          <img src="IMAGES/cgsc.png" id="image9">
        </div>
        <div ng-switch-when="10">
          <p id="para">LOGISTICS SECTOR SKILL COUNCIL
          </p>
          <a class="hyperlink" href="http://www.lsc-india.com/">Click Here For Information
          </a>
          <img src="IMAGES/LSC.png" id="image10">
        </div>
        <div ng-switch-when="11">
          <p id="para">FOOD INDUSTRY CAPACITY & SKILL INITIATIVE
          </p>
          <a class="hyperlink" href="http://www.ficsi.in/">Click Here For Information
          </a>
          <img src="IMAGES/FICSI.png" id="image11">
        </div>
        <div ng-switch-when="12">
          <p id="para">LEATHER SECTOR SKILL COUNCIL
          </p>
          <a class="hyperlink" href="http://www.leatherssc.org/">Click Here For Information
          </a>
          <img src="IMAGES/LSSC.png" id="image12">
        </div>
        <div ng-switch-when="13">
          <p id="para">BFSI SECTOR SKILL COUNCIL OF INDIA
          </p>
          <a class="hyperlink" href="http://www.bfsissc.com/">Click Here For Information
          </a>
          <img src="IMAGES/BFSI.png" id="image13">
        </div>
        <div ng-switch-when="14">
          <p id="para">TELECOM SECTOR SKILL COUNCIL
          </p>
          <a class="hyperlink" href="http://www.tsscindia.com/">Click Here For Information
          </a>
          <img src="IMAGES/TSSC.png" id="image14">
        </div>
        <div ng-switch-when="15">
          <p id="para">AGRICULTURE SKILL COUNCIL OF INDIA
          </p>
          <a class="hyperlink" href="http://www.asci-india.com/">Click Here For Information
          </a>
          <img src="IMAGES/ASCI.png" id="image15">
        </div>
        <div ng-switch-when="16">
          <p id="para">ELECTRONICS SECTOR SKILL COUNCIL
          </p>
          <a class="hyperlink" href="http://www.essc-india.org/">Click Here For Information
          </a>
          <img src="IMAGES/ESSCI.png" id="image16">
        </div>
        <div ng-switch-when="17">
          <p id="para">GEMS AND JWELLERY SKILL COUNCIL OF INDIA
          </p>
          <a class="hyperlink" href="http://www.gjsci.org/">Click Here For Information
          </a>
          <img src="IMAGES/GJSCI.png" id="image17">
        </div>
        <div ng-switch-when="18">
          <p id="para">HEALTH CARE SECTOR SKILL COUNCIL
          </p>
          <a class="hyperlink" href="http://www.healthcare-ssc.in/">Click Here For Information
          </a>
          <img src="IMAGES/HSSC.png" id="image18">
        </div>
        <div ng-switch-when="19">
          <p id="para">RUBBER SKILL DEVELOPMENT COUNCIL
          </p>
          <a class="hyperlink" href="http://www.rsdcindia.in/">Click Here For Information
          </a>
          <img src="images/RSDC.png" id="image19">
        </div>
        <div ng-switch-when="20">
          <p id="para">MEDIA AND ENTERTAINMENT SKILL COUNCIL
          </p>
          <a class="hyperlink" href="http://www.mescindia.org/">Click Here For Information
          </a>
          <img src="IMAGES/MESC.png" id="image20">
        </div>
        <div ng-switch-when="21">
          <p id="para">IT-ITeS SECTOR SKILL COUNCIL
          </p>
          <a class="hyperlink" href="http://www.sscnasscom.com/">Click Here For Information
          </a>
          <img src="IMAGES/IT-ITeS SSC.png" id="image21">
        </div>
        <div ng-switch-when="22">
          <p id="para">RETAILERS ASSOCIATION's SKILL COUNCIL OF INDIA
          </p>
          <a class="hyperlink" href="http://rasci.in/">Click Here For Information
          </a>
          <img src="IMAGES/RASCI.png" id="image22">
        </div>
        <div ng-switch-when="23">
          <p id="para">SECURITY SECTOR SKILL DEVELOPMENT COUNCIL
          </p>
          <a class="hyperlink" href="http://www.sssdc.in/">Click Here For Information
          </a>
          <img src="IMAGES/SSSDC.png" id="image23">
        </div>
        <div ng-switch-when="24">
          <p id="para">AUTOMOTIVE SKILLS DEVELOPMENT COUNCIL
          </p>
          <a class="hyperlink" href="http://asdc.org.in/">Click Here For Information
          </a>
          <img src="IMAGES/ASDC.png" id="image24">
        </div>
        <div ng-switch-when="25">
          <p id="para">AEROSPACE & AVIATION SECTOR SKILL COUNCIL
          </p>
          <a class="hyperlink" href="http://www.aassc.in/">Click Here For Information
          </a>
          <img src="IMAGES/AASSC.png" id="image25">
        </div>
        <div ng-switch-when="26">
          <p id="para">POWER SECTOR SKILL COUNCIL
          </p>
          <a class="hyperlink" href="http://www.psscindia.org/">Click Here For Information
          </a>
          <img src="IMAGES/PSSC.png" id="image26">
        </div>
        <div ng-switch-when="27">
          <p id="para">SKILL COUNCIL FOR MINING SECTOR
          </p>
          <a class="hyperlink" href="http://www.skillcms.in/">Click Here For Information
          </a>
          <img src="IMAGES/SCMS.png" id="image27">
        </div>
        <div ng-switch-when="28">
          <p id="para">PAINT & COATING SKILL COUNCIL
          </p>
          <a class="hyperlink" href="http://www.pcsc.in/">Click Here For Information
          </a>
          <img src="IMAGES/PCSC.png" id="image28">
        </div>
</div>