<head>
	<link href="css/skillCompetition.css" type="text/css" rel="stylesheet">
</head>

<div ng-controller="skillCompetitionController">

   <div class="container-fluid">
   <div class="row">
    
	  <div class="col-md-12">
	  <h4 id="a1"> Apply For The World Skill Competition</h4>
	  </div>
	</div>
	<div class="row">
	   <div class="form1 col-md-7">
	     <form name="myForm" id="s3">
	     <div class="form-group">
		<label for="name" style="margin-left: 0%">Name:</label> 
         <input name="myName" class="form-control" ng-model="user.myName" required placeholder="enter your name" id="name">
         <span ng-show="myForm.myName.$touched && myForm.myName.$invalid" id="a2">The name is required.</span>
		 </div>
		 <div class="form-group">
		    <label for="email"style="margin-left: 0%">Email:</label>
			<input name="myEmail" class="form-control" ng-model="myEmail" required placeholder="enter your email"
			id="email" >
			<span ng-show="myForm.myEmail.$touched && myForm.myEmail.$invalid" id="a2">The email is required.</span>
			
		 </div>
		 <div class="form-group">
		    <label for="address"style="margin-left: 0%">Address:</label>
			<input name="myAddress" class="form-control" ng-model="myAddress" required id="address" placeholder="enter your address"/>
			<span ng-show="myForm.myAddress.$touched && myForm.myAddress.$invalid" id="a2">The address is required.</span>
		 </div>
		  <div class="form-group">
		    
		
    
         <label for="age"style="margin-left: 0%">Age:</label>
         <input type="number" class="form-control" ng-model="myAge" required id="age" placeholder="enter your age" name="myNumber" 
         ng-pattern="/^[0]*$/"  ng-model="myNumber"   ng-required="true" number-test="" min="5" 
         max="100" />
		 <span ng-show="myForm.myNumber.$touched && myForm.myNumber.$invalid" id="a2">the age is required</span>
		
		
		 </div>
		 <div class="form-group" ng-controller="skillCompetitionController" id="t4">
		   
			
			<br>
		<select id="sector" name="mySector" class="form-control " ng-model="find.skillSector" ng-options="sector.id as sector.name for sector in sectors track by sector.id" required >
        <option value="" disable selected>Choose Sector</option>
        
   	  
		 </select>
        <select class="form-control category " id="category" ng-model="find.skillSectorCategory" ng-disabled="!find.skillSector" ng-options="category.id as category.dep for category in ((sectors | filter:{'id':find.skillSector})[0].categories) track by category.id" required>
        <option value="" disable selected>Choose Category</option>
        </select>
		
		
	   </div>

		 <div class="form-group" id="t6">
		    <button type="button" class="btn btn-primary" id="s4" ng-disabled="myForm.$invalid">Apply</button>
		 </div>
		 
	  </form>
	  
	   </div>
	   <div class="col-md-5">
	    <div class="row">
		  <div class="col-md-3">
		  </div>
		  <div class="col-md-9" id="s6">
		  <h3> Upcoming Events</h3>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-3">
		  </div>
		  <div class="col-md-7">
		    <div class="panel-group">
		    <div id="t2" class="panel panel-default">
			  <div class="panel-body" id="s1" style="background-color: #f6AB3D"> WorldSkill Euro 2020 </div>
			  <div class="panel-footer" id="s2" style="background-color: #E18806" > Graz, Austria </div>
		    </div>	
			</div>
		   	
		  </div>
		  <div class="col-md-2">
		  </div>
		    
		</div>
		<div class="row1">
		</div>
		<div class="row">
		  <div class="col-md-3">
		  </div>
		  <div class="col-md-7">
		    	    <div class="panel-group">
		    <div id="t2" class="panel panel-default">
			  <div class="panel-body" id="s1" style="background-color: #A3C3E7"> WorldSkill kazan 2019 </div>
			  <div class="panel-footer" id="s2" style="background-color: #7BA9DC"> kazan, russia </div>
		    </div>
		    </div>	
		   	
		  </div>
		  <div class="col-md-2">
		  </div>
		
		
		</div>
		<div class="row2"></div>
		<div class="row">
		  <div class="col-md-3">
		  </div>
		  <div class="col-md-7">
		  	    <div class="panel-group">
		    <div id="t2" class="panel panel-default">
			  <div class="panel-body" id="s1" style="background-color: #C68D7F"> WorldSkill france 2018 </div>
			  <div class="panel-footer"id="s2" style="background-color: #A07266"> Caen, france </div>
		    </div>
		    </div>	
		   	
		  </div>
		  <div class="col-md-2">
		  </div>
		
		
		</div>
		<div class="row3"></div>
		<div class="row">
		  <div class="col-md-4">                  
		  </div>
		  <div class="col-md-8">
		    <button type="button" class="btn btn-primary"><a href="https://www.worldskills.org/" target="_blank" style="color: white">More Events</a>
			</button>
		
		  </div>
		  <div class="col-md-4">
		  </div>
		
		
	   </div>
	</div>
   </div>
  </div>
 
   

	
	
	
	
</div>