<head>
	<link href="css/webinar.css" type="text/css" rel="stylesheet">
</head>



        <div class="container-fluid">
            
            <br>
          <h3>webinars</h3>
			<br>
			
			<div ng-controller="webinarController" class="uigrid" >
				<h4 id="text">upcomings</h4>
				<br>
				
				<div ui-grid="details" class="grid grid-align"  >
					
		
				
			  
     <div class="row search">
           		 <div class="col-md-3" id="search1">
          		  <h4>Missed a webinars ?</h4>
           			</div>
                <div class="col-md-4">
                    <input type="text" class="formstyle form-control" placeholder="Enter title to search">
                </div>
                <div class="col-md-2">
                    <button type="button" class="formstyle btn btn-primary">Search</button> 
                </div>
            </div>
            	
</div>

		
					</div>
					</div>
        
        
        
        </div>