<head>
	<link href="css/webinar.css" type="text/css" rel="stylesheet">
</head>
           <div ng-controller="webinar">
<div >
  <div class="main1">
  <h4 >Webinars</h4>
  <div class="upcomingevent"><div class="upcoming"><h5 >Upcoming<h5></div>
  <div ui-grid="gridOptionwebinar" ui-if="gridOptionwebinar.data.length>0"  class="grid grid-align " ui-grid-auto-resize ng-style="getTableHeight()"></div>
  

<div class="search-box">
<div class="form-group row">
<div class="col-xs-2">
<h4 class="findwebinar"> Missed a Webinar?</h4>

</div >
  <div class="col-md-4">
    <input class="form-control" id="title" type="text" ng-model="searchtitle" placeholder="Enter Title to search">
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary"ng-click="showWebinarFunc()">Search</button>
  </div>
  <p>{{errorMessage}}</p> 
  </div>

       <div ng-show="showWebinar">         
      <div ui-grid="gridOptionwebinar2" ui-if="gridOptionwebinar.data.length>0"  class="grid grid-align " ui-grid-auto-resize ng-style="getTableHeight()"></div> 
                
                
           		 </div>
           		 </div>
            
        	


</div>
</div>
</div>

        </div>