<head>
	<link href="css/student.css" type="text/css" rel="stylesheet">
</head>


      
</head>


<body ng-app="skillIndiaApp" >
	
<div ng-controller="studentController">
	

<header>
<div class="row">
<div class="col-md-12">


<nav class="navbar navbar-default">
<div class="col-md-2">
  <div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
      
      <a href="https://www.nsdcindia.org">
       <div class="col-md-6" style="margin-left: -3rem;margin-top: 1rem">
		<img src="images/NSDC logo.png" type="image/png" style="width: 6rem;"></div></a>
		
		 <a href="http://www.skillindia.gov.in">
		<div class="col-md-6" style="margin-left: 1rem; margin-top: 0.8rem">
		<img src="images/Image-of-Skill-India.png" type="image/png" style="width: 4rem;"></div></a>
		
		</a>
    </div>
</div>
</div>

<div class="col-md-10">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        		<li><a ng-click="x='HOME'">HOME</a></li>
				<li><a ng-click="x='SKILL COMPETITIONS'">SKILL COMPETITIONS</a></li>
				<li><a ng-click="x='webinar'">WEBINARS</a></li>
				<li><a ng-click="x='skillGapStudy'">SKILL GAP STUDY</a></li>
				<li><a ng-click="x='tendersAndRfps'">TENDERS AND RFP'S</a></li>
				<li><a ng-click="x='helpline'">HELPLINE</a></li>
        <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">USER TYPE <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:8080/#/student">STUDENT</a></li>
	          				<li><a href="http://localhost:8080/#/industry">INDUSTRY</a></li>
          </ul>
        </li>
      </ul>
      </div>
      </div>
      
    </nav><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
 </header>
		
<div class="mainbody">
		
	<div ng-switch on="x">

		<div ng-switch-when="HOME">
		<div ng-include src="'partials/home.html'"></div>
		</div>
		
		<div ng-switch-default>
		<div ng-include src="'partials/home.html'"></div>
		</div>
		
		<div ng-switch-when="SKILL COMPETITIONS">
		<div ng-include src="'partials/skillCompetition.html'"></div>
		</div>
		
		<div ng-switch-when="webinar">
		<div ng-include src="'partials/webinar.html'"></div>
		</div>
		
		<div ng-switch-when="skillGapStudy">
		<div ng-include src="'partials/skillGapStudy.html'"></div>
		</div>
		
		<div ng-switch-when="tendersAndRfps">
		<div ng-include src="'partials/tenders.html'"></div>
		</div>
		
		<div ng-switch-when="helpline">
		<div ng-include src="'partials/helpline.html'"></div>
		</div>
		
		
		
		<div ng-switch-when="jobRoles">
		<div ng-include src="'partials/jobRole.html'"></div>
		</div>
		
		<div ng-switch-when="trainingMaterial">
		<div ng-include src="'partials/trainingMaterial.html'"></div>
		</div>
		
		<div ng-switch-when="trainingCentre">
		<div ng-include src="'partials/findTrainingCentre.html'"></div>
		</div>
		
		<div ng-switch-when="report">
		<div ng-include src="'partials/reportIssue.html'"></div>
		</div>
		
		<div ng-switch-when="govt">
		<div ng-include src="'partials/govt.html'"></div>
		</div>
		
		<div ng-switch-when="jobopp">
		<div ng-include src="'partials/jobOpportunity.html'"></div>
		</div>
		
		</div>
	</div>
	
	
	<div class="footer">

           
                      
                      <div><img class="img1 col-md-3" src="images/want_to_be_skilled.png" type="image/png"/></div>
                     <div style="cursor: pointer; color: white;"ng-click="x='jobRoles'" class="img-common image2 col-md-1"><img class="img2" src="images\job role.png" type="image/png"/><h6>Job Roles</h6></div>
                     <div style="cursor: pointer; color: white;"ng-click="x='trainingCentre'" class="img-common image3 col-md-1"><img class="img3" src="images\Find TC.png" type="image/png"/><label><h6>Find a training centre</h6></label></div>
                     <div style="cursor: pointer; color: white;"ng-click="x='trainingMaterial'" class="img-common image4 col-md-1"><img class="img4" src="images\fund.png" type="image/png"/><label><h6>Training material</h6></label></div>
                     <div style="cursor: pointer; color: white;"ng-click="x='report'" class="img-common image5 col-md-1"><img class="img5" src="images\reports.png" type="image/png"/><label><h6>Report Issues</h6></label></div>
                     <div style="cursor: pointer; color: white;"ng-click="x='govt'" class="img-common image6 col-md-1"><img class="img6" src="images\government.png" type="image/png"/><label><h6>Govt loan for training</h6></label></div>
                     <div style="cursor: pointer; color: white;"ng-click="x='jobopp'" class="img-common image7 col-md-1"><img class="img7" src="images\skill gap study.png" type="image/png"/><label><h6>Job Opportunities</h6></label></div>
        </div>

	
	
</div>
</body>
</html>	
</div>