.row1{
    
    margin-top: 1%;
    margin-left: 0%;
}



.formBoxHeader{
    margin-top: -2rem;
    text-align: center;
    margin-left: -3rem;
    margin-right: -3rem;
    color: #f7f6f7;
    background-color: #0375b4;
    
   
}

h1 {
    font-size: 3rem;
    margin-left: -48%;
   }
   
 
   
#formBox
	{
    border-style: solid;
    border-color: #0375b4;
    }




input[type=submit]
{
	background-color: #0375b4;
	color: white;
}

.ui-grid-header-cell{
  text-align: center;
  background-color: #0375b4;
  color:#ffffff;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #ffffff;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color:#f2f2f2;
}
.ui-grid-cell{
  text-align: center;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #d4d4d4;;
}