#color{
    text-align: left;
    color:dodgerblue;
   padding-left: 9rem;
    margin-left: -1rem;
}

.4fields{
    display: flex;
    margin-left:1rem;
}

.btn-primary{
    font-size: 8pt;
    border-radius: 3pt;
    margin-left: 41rem
}
.dropdown1{
    width:50%;
     border-radius: 2rem;
      margin-left: 0rem;
     margin-bottom: -1rem;
}

.form-control{
        width: 41rem;
        margin-left: -6rem;
}

#b2{
    margin-top:1rem;
}

#r1{
         margin-left: -6rem;
         padding-left: 3rem;
}

#r2{
     padding-left: 12rem;
     margin-right: 2rem;
}
#Id1{
    margin-left:-10rem;
    margin-top: 2rem;
} 
#text1{
    margin-left:-10rem;
 border-radius:4pt;
} 
#issue1{
                margin-left:-6rem;
}

