
.row1{
	height: 0.3rem;
}
.row2{
	 height: 0.3rem;
}
.row3{
	 height: 0.3rem;
}

#t2{
	text-align: center;
	color: white;
}
#C1{
	margin-left: -11rem;
}
#C2{
	margin-left: -11rem;
}
#C3{
	margin-left: -11rem;
}

#a1
{
	color: #A07266;
	margin-left: 3rem;
    font-size: 22pt;
}
#t4
{
	display: flex;
	margin-top: 10%;
}
#t6
{
	margin-left: 15rem;
	height: 4%;
}
#a2
{
	color: red;
}
#s1
{
height: 3.7rem;
font-size:14pt;
}
#s2
{
	height: 3.2rem;
	font-size:14pt;
}
.btn 
{
    font-size: 11pt;
    margin-left: -5rem;
}
#s3
{
	margin-left: 8rem;
	margin-top:-4%;
}
#s4 {
    margin-left: 8rem;
    margin-top: 4%;
}
#s6 {
    color: #7BA9DC;
    font-size: 30px;
    margin-left: 9%;
}


.form-group {
    margin-left: -5rem;
    width:90%;
    margin-bottom: -2rem;
    margin-top: 3pt;
    padding-left: 4rem;
}
#category{
	margin-left: 2pt;
    margin-top: -19pt;
}
#sector{
	margin-top: -19pt;
}
}
	
