body{
margin:0rem;

}
.header{
padding:1rem;
      background-color:#fbfbfb;
      height:7rem;
      font-size: 1rem;
}

.navbar{
margin-bottom: 1px;

}
.navbar-header{
	display:flex;
}
ul.nav.navbar-nav.navbar-right{
	    font-size: 83%;
	
}
.btn1-default {
    color: #333;
    background-color: #fdfdfd;
}

.btn1{
      display: flex;
    margin-bottom: 0;
    font-size: 6px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: none;
    border-radius: 0px;
}

.dropdown{
      position: relative;
      
}


.dropdown-menu {
    position: absolute;
    top: 58%;
    left: 561px;
    z-index: 1000;
}
.mainbody{

      margin:0%;
     background-color:white;
      height:49rem;
}
.imgs{
      height: 6rem;
    padding: 1rem;
}


#one{
      
background-color: #fbfbfb;   
}
#two{
        background-color: #4589bf;
}
.navbar-brand>img {
    display: flex;
    width: 50%;
    heigth:2%;
    
   
}
.container-fluid {
    padding-right: 0;
    padding-left:0;
}
li a{
      color:grey;
      padding:1rem;
    float: left;
    padding-top:2%;
    cursor: pointer;
}

.footer {
       /* margin: -5%; */
    position: fixed;
    /* left: 0%; */
    bottom: 0%;
    background-color: #438abb;
    text-align: center;
    /* padding: 0%; */
    /* padding-bottom: 6%; */
    /* height: 20%; */
    width: 100%;
   
}
.footer .col-md-3{
	padding-left:0;
}


h6{
      margin-top:none;
      text-size:1rem;
      padding:0.5rem;
}

.img1{
      height: 11rem;
    margin-left: 0rem;
   /* width: 132rem;*/

}
.image2{
    margin-left:5%;
      border-right:1px solid #bbb;
      height:11rem;
}
.img2{
      height: 4rem;
    padding: 1rem;
    margin-left: 0rem;

}
.image3{
    margin-left:2rem;
      border-right:1px solid #bbb;
      height:11rem;
}
.img3{
      height: 4rem;
    padding: 1rem;
    margin-left: -1rem;

      
}
.image4{
    margin-left:2rem;
      border-right:1px solid #bbb;
      height:11rem;
}
.img4{
      height: 4rem;
    padding: 1rem;
    margin-left: -1rem;

}
.image5{
    margin-left:2rem;
      border-right:1px solid #bbb;
      height:11rem;
}
.img5{
      height: 4rem;
    padding: 1rem;
    margin-left: 0rem;
;
      
}
.image6{
    margin-left:2rem;
      border-right:1px solid #bbb;
      height:11rem;
}
.img6{
      height: 4rem;
    padding: 1rem;
    margin-left: 0rem;


      
}
.image7{
    margin-left:2rem;
    height:11rem;
}
.img7{
      height: 4rem;
    padding: 1rem;
      margin-left:0rem;
}
