
#text{
	color: blue;
}
.formstyle{
    margin-top: 0.3rem;
}

.uigrid{
	background-color: lightgray;
	padding-top:2rem;
	padding-bottom:2rem;
    padding: 1rem;
    height: 18rem;
}
	.search{
	margin-top:5rem;
	}
	.search1{
	margin-top:-1rem;
	margin-left:1 rem
	}

.ui-grid-header-cell-wrapper{
	background-color:blue;
	color:white;
	text-align:center;
}